- title ||= t(:'meta_tags.default_title')
- description ||= t(:'meta_tags.default_description')

%meta{ name: 'description', content: description }

%meta{ property: 'og:title', content: title }
%meta{ property: 'og:description', content: description }
%meta{ property: 'og:type', content: 'website' }
%meta{ property: 'og:site_name', content: 'Framavox'}
%meta{ property: 'og:image:type', content: 'image/png' }
%meta{ property: 'og:image:width', content: '1200' }
%meta{ property: 'og:image:height', content: '1200' }
%meta{ property: 'og:url', content: request.original_url }

%meta{property:'og:locale', content: I18n.locale}
- detectable_locales.each do |locale|
  %meta{property:'og:locale:alternate', content: locale}
