%head
  %title= t(:'meta_tags.default_title')
  %meta{ name: 'description', content: t(:'meta_tags.default_description') }

  %meta{ name: 'twitter:card', content: 'summary'}
  %meta{ name: 'twitter:title', content: t(:'meta_tags.default_title') }
  %meta{ name: 'twitter:description', content: t(:'meta_tags.default_description') }

  %meta{ property: 'og:title', content: t(:'meta_tags.default_title') }
  %meta{ property: 'og:description', content: t(:'meta_tags.default_description') }
  %meta{ property: 'og:type', content: 'website' }
  %meta{ property: 'og:site_name', content: 'Framavox'}
  %meta{ property: 'og:image:type', content: 'image/png' }
  %meta{ property: 'og:image:width', content: '1200' }
  %meta{ property: 'og:image:height', content: '1200' }
  %meta{ property: 'og:url', content: request.original_url }

  %meta{property:'og:locale', content: I18n.locale}
  - detectable_locales.each do |locale|
    %meta{property:'og:locale:alternate', content: locale}

  = stylesheet_link_tag "pages/index"

  %link{href: "https://framasoft.org/nav/lib/font-awesome/css/font-awesome.min.css", rel: "stylesheet"}

  <script src="https://framasoft.org/nav/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="https://framasoft.org/nav/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'}

%body
  <script src="https://framasoft.org/nav/nav.js" type="text/javascript"></script>
  - unless flash.empty?
    .lmo-flash-container
      = render 'application/flash_messages', :flash => flash
  .lmo-wrap__body
    = yield
