:javascript
  jQuery(document).ready(function() {
    jQuery("#play-pause a").on('click', function() {
      if(jQuery(this).children('.glyphicon').hasClass('glyphicon-pause')) {
        jQuery(this).children('.glyphicon').addClass('glyphicon-play').removeClass('glyphicon-pause');
        jQuery(this).attr('title','Lecture');
        jQuery(this).children('.sr-only').text('Lecture');
        jQuery('#carousel-vox').carousel('pause');
      } else {
        jQuery(this).children('.glyphicon').addClass('glyphicon-pause').removeClass('glyphicon-play');
        jQuery(this).attr('title','Pause');
        jQuery(this).children('.sr-only').text('Pause');
        jQuery('#carousel-vox').carousel('cycle');
      };
      return false;
    });
    jQuery('#carousel-vox').carousel({'cycle' :true, 'interval': 7000});
    jQuery('#tuto-faq').append(
      '<div class="modal fade" id="TutoVideo" tabindex="-1" role="dialog" aria-labelledby="TutoVideoLabel" aria-hidden="true">'+
      '  <div class="modal-dialog">'+
      '    <div class="modal-content">'+
      '      <div class="modal-header">'+
      '        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Fermer</span></button>'+
      '        <h1 id="TutoVideoLabel">Tutoriel vidéo</h1>'+
      '      </div>'+
      '      <div class="modal-body">'+
      '        <p><video width="420" height="340" controls="controls" preload="none" poster="https://framatube.org/images/media/993l.jpg">'+
      '          <source src="https://framatube.org/blip/Framavox.mp4" type="video/mp4" />'+
      '          <source src="https://framatube.org/blip/Framavox.webm" type="video/webm" />'+
      '        </video></p>'+
      '        <p>-> La <a href="https://framatube.org/blip/Framavox.webm">vidéo au format webm</a></p>'+
      '      </div>'+
      '      <div class="modal-footer"><a href="#" class="btn btn-default" data-dismiss="modal">Fermer</a></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'
    );
    jQuery('#tuto-faq a[href*="framatube"]').click(function(){jQuery('#TutoVideo').modal('show');return false;})
  });

.container.ombre
  %header{role: "banner"}
    %h1
      = link_to '<b class="violet">Frama</b><b class="vert">vox</b>'.html_safe, "/"
      %p.lead= "Décider ensemble"
      %hr.trait{role: "presentation"}

  %main
    .row.hero
      .col-md-12.text-center
        #carousel-vox.carousel.slide{role: 'presentation'}
          .carousel-inner
            .item.active
              %img{src: "https://framasoft.org/nav/ext/vox-01-creer-groupe.png", alt: ""}
              .carousel-caption
                %p.h3
                  Créez votre groupe
            .item
              %img{src: "https://framasoft.org/nav/ext/vox-02-inviter.png", alt: ""}
              .carousel-caption
                %p.h3
                  Invitez vos collègues
            .item
              %img{src: "https://framasoft.org/nav/ext/vox-03-discuter.png", alt: ""}
              .carousel-caption
                %p.h3
                  Prenez part aux échanges
            .item
              %img{src: "https://framasoft.org/nav/ext/vox-04-voter.png", alt: ""}
              .carousel-caption
                %p.h3
                  Votez pour les propositions
          %p#play-pause.text-center
            %a.carousel-control{href:"#play-pause",title:"Pause"}
              %i.glyphicon.glyphicon-pause
              %span.sr-only
                Pause
          <a class="left carousel-control" href="#carousel-vox" role="button" title="Diapo précédente" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Diapo précédente</span></a>
          <a class="right carousel-control" href="#carousel-vox" role="button" title="Diapo suivante" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Diapo suivante</span></a>

        .col-md-6.text-center
          %a.btn.btn-primary.btn-lg{:href => "/users/sign_in"}
            %i.glyphicon.glyphicon-lock
            Se connecter »
        .col-md-6.text-center
          %a.btn.btn-success.btn-lg{:href => "/users/sign_up"}
            %i.glyphicon.glyphicon-user
            Créer un compte »

    %hr{role: "presentation"}

    .row
      #tuto-faq.col-md-4
        %h2 Prise en main
        %p.text-center{:role => "presentation"}
          %span.glyphicon.glyphicon-question-sign
        %p
          <b class="violet">Frama</b><b class="vert">vox</b> est un service de libre de prise de décisions collaborative.
          Il permet de discuter des sujets précis avec son équipe (en notifiant ses collègues), et de voter sur des propositions.
        %ol
          %li= "Créez votre groupe"
          %li= "Invitez vos membres"
          %li= "Créez des discussions et échangez"
          %li= "Votez des propositions"
        %p
          Pour apprendre à maîtriser <b class="violet">Frama</b><b class="vert">vox</b>, consultez <a href="https://docs.framasoft.org/fr/loomio/">nos pages d’aide</a> <small>(traduction de la documentation officielle de Loomio par l’équipe <a href="https://participer.framasoft.org/traduction-rejoignez-framalang"><b class="violet">Frama</b><b class="rouge">lang</b></a>)</small>.
        %p
          Voici également un tutoriel vidéo réalisé par Frédéric Véron, professeur de SVT dans l’Académie de Créteil.
        %p.text-center
          %a.btn.btn-primary{:href => "https://framatube.org/media/tutoriel-framavox"} <i class="glyphicon glyphicon-film"></i> Lire la vidéo »
      #le-logiciel.col-md-4
        %h2 Le logiciel
        %p.text-center{:role => "presentation"}
          %span.glyphicon.glyphicon-cloud
        %p
          <b class="violet">Frama</b><b class="vert">vox</b> repose sur le logiciel libre
          = succeed "." do
            %a{:href => "https://www.loomio.org"} Loomio
        %p
          Il s’agit d’une instance parmi d'autres, les développeurs de Loomio propose également la leur.
        %p
          Loomio est sous
          %a{:href => "https://github.com/loomio/loomio/blob/master/LICENSE.txt"}
            licence
            %abbr{:title => "GNU Affero General Public License"} AGPL
      #jardin.col-md-4
        %h2 Cultivez votre jardin
        %p.text-center{:role => "presentation"}
          %span.glyphicon.glyphicon-tree-deciduous
        %p
          Pour participer au développement du logiciel, proposer des améliorations
          ou simplement le télécharger, rendez-vous sur
          = succeed "." do
            %a{:href => "https://github.com/loomio/"} le site de développement
        %p
          Si vous souhaitez installer ce logiciel pour votre propre usage et ainsi gagner en autonomie, nous vous aidons sur :
        %p.text-center
          %a.btn.btn-success{:href => "http://framacloud.org/cultiver-son-jardin/installation-de-loomio/"}
            %i.glyphicon.glyphicon-tree-deciduous
            framacloud.org
