.container
  .wrapper
    %section.first
      .inner-container
        .row-fluid
          %h1 Translation
          %p
            This is a reference page for the translators and developers.
            %br
            For details about Loomio translation, please see <a href="https://github.com/loomio/loomio/tree/master/docs/en/translation">this guide</a>.

          %h2 Updates
          %p
            Translations were last released
            %span.code #{time_ago_in_words(Loomio::I18n::TRANSLATION_UPDATED_AT)} ago

          %h2 Supported languages (#{selectable_locales.count})
          %table.code
            %tr
              %th Language
              %th Loomio 1.0
              %th.beta-translation Loomio Beta (old)
              %th Code
              %th English name

            - selectable_locales.each_with_index do |locale, index|
              %tr
                %td= link_to I18n.t(locale.to_sym, scope: :native_language_name), root_path(locale: locale)
                - coverage = Loomio::I18n::TRANSLATION_COVERAGE[locale]
                %td
                  -if coverage
                    -coverage.each do |resource, percentage|
                      -if resource == 'main_1_0'
                        .progress
                          .progress-bar{role: 'progressbar', 'aria-valuenow': percentage, 'aria-valuemin': 0, 'aria-valuemax': 100, style: "width:#{percentage}%"}
                %td
                  -if coverage
                    -coverage.each do |resource, percentage|
                      -if resource == 'main'
                        .progress
                          .progress-bar.beta-translation{role: 'progressbar', 'aria-valuenow': percentage, 'aria-valuemin': 0, 'aria-valuemax': 100, style: "width:#{percentage}%"}
                %td= locale
                %td= t(locale)

          %h2 Test Languages (#{Loomio::I18n::TEST_LOCALES.count})
          %table.code
            - Loomio::I18n::TEST_LOCALES.each_with_index do |locale, index|
              %tr
                %td= link_to I18n.t(locale.to_sym, scope: :native_language_name), root_path(locale: locale)
                - coverage = Loomio::I18n::TRANSLATION_COVERAGE[locale]
                %td
                  -if coverage
                    -coverage.each do |resource, percentage|
                      -if resource == 'main_1_0'
                        .progress
                          .progress-bar{role: 'progressbar', 'aria-valuenow': percentage, 'aria-valuemin': 0, 'aria-valuemax': 100, style: "width:#{percentage}%"}
                %td
                  -if coverage
                    -coverage.each do |resource, percentage|
                      -if resource == 'main'
                        .progress
                          .progress-bar.beta-translation{role: 'progressbar', 'aria-valuenow': percentage, 'aria-valuemin': 0, 'aria-valuemax': 100, style: "width:#{percentage}%"}
                %td= locale
                %td= t(locale)

          -#%h2 Updates
          -#.twitter-feed-container
            -#<a class="twitter-timeline" href="https://twitter.com/search?q=%40loomio+%23translation" data-widget-id="510776756744114176">Tweets about "@loomio #translation"</a>
            -#<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          %h2 Technical
          %p
            Your browser reports a list of preferred languages to Loomio when it asks for pages. Here is what your browser is requesting :

          %p.code
            - # not quite honest
            - locales_from_browser_detection.each_with_index do |locale,i|
              - if detectable_locales.include?(locale)
                = link_to locale, root_path(locale: locale), title: t(locale)
              - else
                = locale
              = ', ' unless i == locales_from_browser_detection.count - 1

          %p The current fallback settings for loomio:
          %table.code
            - Loomio::I18n::FALLBACKS.each_pair do |k,v|
              %tr
                %td= k
                %td -->
                %td= v
          %br

          %p Registered right-to-left languages:
          %table.code
            - rtl_locales.each do |locale|
              %tr
                %td= locale
                %td= "|"
                %td= link_to I18n.t(locale.to_sym, scope: :native_language_name), root_path(locale: locale)
                %td= "|"
                %td= t(locale)
