h1, h2, h3 {
  line-height: 4.1rem;
}

img { border-radius: .2rem; }

a:visited { color: #4076D4; }

.marketing__content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.marketing__hero-wrapper {
  padding: 0 10px;
}

.marketing__arrow-image {
  max-width: 100px;
  margin: 200px 0 0;
}

@media (max-width: 600px) {
  .marketing__hero-button { display: none; }
  .marketing__loomio-process-text {
    text-align: center;
  }
  .marketing__arrow-image { display: none; }
  .marketing__loomio-process-image,
  .marketing__loomio-process-image { padding: 0px; }
  .marketing__feature {
    max-width: 100%;
    margin: 20px 0;
    padding: 0 20px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .marketing__arrow-image {
    margin: 100px 0 0;
  }
}

@media (min-width: 600px) {
  .marketing__hero-button--small-device { display: none; }
  .marketing__feature { margin: 10px; }
  .marketing__loomio-process-text { padding-right: 30px; }
  .marketing__loomio-process-image { padding-left: 20px }
}

@media (max-width: 1000px) {
  .marketing__arrow-icon { display: none; }
}

.marketing__hero-solution-image {
  -moz-box-ordinal-group: -1;
  -webkit-box-ordinal-group: -1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.marketing__section {
  align-items: center;
  justify-content: center;
}

.marketing__section--margin {
  align-items: center;
  justify-content: center;
  margin: 0 0 50px;
}

.marketing__loomio-process {
  padding-top: 0px;
}

.marketing__loomio-on-devices {
  max-width: 850px;
  margin: auto;
  padding-bottom: 50px;
}

.marketing__case-study {
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  p {
    margin-bottom: 10px;
    padding: 0; }
}

.marketing__case-study-image.column--light {
  margin: auto;
  max-width: 180px;
}

.marketing__case-study-quote {
  quotes: """ """;
}

.marketing__case-study-quote:before {
  content: open-quote;
}

.marketing__case-study-quote:after {
  content: close-quote;
}

.marketing__about-us {
  align-items: center;
  justify-content: center;
}

.marketing__about-us-image {
  max-width: 100px;
}

.marketing__button {
  background-color: #3B94E8;
  &:hover { background-color: #3B94E8; }
}

.marketing__header-button {
  max-height: 40px;
  padding: 0px 10px;
}

.marketing__press {
  padding: 1rem;
}

.marketing__press-testimonial {
  text-decoration: none;
}

.marketing__press-quote {
  quotes: """ """;
}

.marketing__press-quote:before {
  content: open-quote;
}

.marketing__press-quote:after {
  content: close-quote;
}

.marketing__press-logo {
  max-width: 200px;
  margin: 0 auto 20px;
}

.marketing__rule {
  z-index: -1;
}

.marketing__press-author {
  color: black;
}

.marketing__feature-heading {
  padding: 2.4rem 0 1rem 0;
}

.marketing__feature {
  border: 3px solid #dcdcdc;
  border-radius: .2rem;
}

.img-can-shrink{
  width: 100%;
  height: auto;
}

.can-shrink {
  flex-shrink: 1;
}

.img-can-shrink--hero {
  width: 100%;
  height: auto;
  max-width: 450px;
  margin: auto;
}
